## Inserting the CSV Data into the DataBase to simmulate the production Errors or fixingthe bugs
- In this File we will learn how to insert or upload the CSV Data into the Database using the simple python script

In [ ]:
#code to send CSV data to DataBase Table
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote  

#engine = create_engine("postgresql://postgres@localhost:5432/postgres", echo=False)
engine = create_engine('postgresql://postgres:%s@localhost:5432/postgres' % quote('postgres'))
#df = pd.read_csv("C:/Users/vnaga/Desktop/of/test/EnneWood_Data_12-05-2022_to_13-05-2022.csv", header=0)
df.to_sql("Tabel_name", con=engine)

In [2]:
#code to send CSV data to DataBase Table
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote  

#engine = create_engine("postgresql://postgres@localhost:5432/postgres", echo=False)
engine = create_engine('postgresql://postgres:%s@localhost:5432/postgres' % quote('postgres'))
df = pd.read_csv(r"C:\Users\vnaga\OneDrive\Python files\DataBase\CSV_file.csv", header=0)

In [ ]:
#to convert string data to dateTime
df.DBTime=pd.to_datetime(df.DBTime)

In [8]:
df.to_sql("Table_Name", con=engine)

In [43]:
type(pd.to_datetime(df.DBTime))

pandas.core.series.Series

In [7]:
df

,CreatedTime,SystemTime,SiteId,DBTime,DeviceId,Hot_air_F_H_oil_fr__PV,Hot_air_F__OFR__PV,OFR_Air_v_line__PV,s_up_B_oil_fr__PV,Hot_air_F_OFR__SP,s_up_B_OF_C__SP,Hot_airGEN_air_T__PV,Hot_air_F_for_s_up_ATC__PV,Hot_air_F_for_s_up_ATC,Hot_air_F_for_s_up_ATC__SP,Hot_GEN_HH_CFM_TM__PV,s_up_B_OF_C__PV,Hot_airGEN_oil_fr_PV,OFR_integration__PV,s_up_B_OFR__PV
0,2022-05-16 05:59:59.443000+00:00,2022-05-16 06:00:14+00:00,1,2022-05-16 06:00:14.400442+00:00,1,0,0,0,0,0,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
1,2022-05-16 05:59:58.430000+00:00,2022-05-16 06:00:13+00:00,1,2022-05-16 06:00:13.390167+00:00,1,0,0,0,0,0,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
2,2022-05-16 05:59:57.430000+00:00,2022-05-16 06:00:12+00:00,1,2022-05-16 06:00:12.369183+00:00,1,0,0,0,0,0,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
3,2022-05-16 05:59:56.430000+00:00,2022-05-16 06:00:11+00:00,1,2022-05-16 06:00:11.352995+00:00,1,0,0,0,0,0,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
4,2022-05-16 05:59:55.413000+00:00,2022-05-16 06:00:10+00:00,1,2022-05-16 06:00:10.357074+00:00,1,0,0,0,0,0,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517834,2022-05-10 06:00:04.397000+00:00,2022-05-10 06:00:17+00:00,1,2022-05-10 06:00:17.428142+00:00,1,0,0,0,0,0,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125
517835,2022-05-10 06:00:03.380000+00:00,2022-05-10 06:00:16+00:00,1,2022-05-10 06:00:16.422980+00:00,1,0,0,0,0,0,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125
517836,2022-05-10 06:00:02.380000+00:00,2022-05-10 06:00:15+00:00,1,2022-05-10 06:00:15.431428+00:00,1,0,0,0,0,0,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125
517837,2022-05-10 06:00:01.367000+00:00,2022-05-10 06:00:14+00:00,1,2022-05-10 06:00:14.398740+00:00,1,0,0,0,0,0,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125
517838,2022-05-10 06:00:00.367000+00:00,2022-05-10 06:00:13+00:00,1,2022-05-10 06:00:13.393062+00:00,1,0,0,0,0,0,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125

In [6]:
df.DBTime=pd.to_datetime(df.DBTime)